* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4bcbc;
}

html {
    font-size: 65.5%;
}

h1, h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 0.5rem;
}

h2 {
    font-size: 2rem;
}

/*Main Menu*/
nav {
    background-color: darkred;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

li {
    list-style: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

/*Manages the size of the carousel images*/

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25vw;
    margin-top: 2rem;
}

#carousel {
    width: 80vh;
}

/*layout of forms*/

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.5rem;
}

label, input {
    margin-top: 0.5rem;
}

.button {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/*layout user*/
table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

tr, td {
    margin-top: 2rem;
    border: black double 4px;
    font-size: 1.5rem;
    padding: 0.5rem;
    height: 15vh;
    width: 25vw;
}

.artTitle {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

/*forms style*/

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 1.5rem;
}

/*index article style*/

#contentArticle {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    width: 45vw;
    margin-left: 1.5rem;
}

#contentComment {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

#titleArt {
    text-align: left;
    margin-left: 10vw;
}

#titleComment {
    width: 30vw;
    text-align: right;
    margin-right: 10vw;
}

.article, .comment {
    text-align: center;
    border: darkred solid 2px;
    width: 45vw;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: #868686 -4px -2px 5px 5px;
}

.message {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 1rem;
    padding: 1rem;
}

.error, .success {
    color: white;
    width: 15vw;
    margin-left: 0.5rem;
}

.error {
    background-color: darkred;
}

.success {
    background-color: green;
}